*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

header{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items:center;
    background-color: #1F2937;
    padding: 1rem;

    img{
        width: 6rem;
        height: 5rem;
        padding: 0.5rem;
    }

    button{
        width: 5rem;
        height: 2.4rem;
        background-color: #F97415;
        color:#ffffff;
        border-radius: 0.5rem;
        cursor: pointer;
        font-size: 1rem;
        font-weight: 700;
        font-style: bold;
    }
}

article{
    display: flex;
    padding: 2rem;
    img{
        width: 50%;
    }

    div{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        #nomeDoPet{
            font-size: 2.2rem;
            color:#F97415;
            font-weight: 700;
        }

        #descricaoDoPet{
            text-justify: auto;
            text-align: left;
            width: 90%;
            font-size: 1.1rem;
        }
    }
}

.pets{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;

    .perfilPet{
        width: 7.5rem;
        height: 7.5rem;
        border-radius: 50%;
    }

}

.formulario{
    background-color: orange;
    margin-top: 1rem;
    padding-bottom: 1rem;
    h2{
        text-align: center;
        color: white;
        padding-top: 1.2rem;
        padding-bottom: 1rem;
        font-weight: 700;
    }
    p{
        padding-bottom: 1rem;
        text-align: center;
        color: white;
        font-size: 1.1rem;
    }

    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;

        label{
            width: 40%;
            text-align: left;
            color: #ffffff;
            margin-bottom: 0.5rem;
        }

        input{
            width: 40%;
            padding: 0.4rem;
            border-radius: 5px;
            border: none;
            margin-bottom: 0.5rem;
        }

        div{
            display: flex;
            width: 40%;
            justify-content: flex-start;
            margin-bottom: 0.5rem;

            input{
                margin: -1rem;
            }
        }

        button{
            padding: 0.8rem 2rem;
            border-radius: 5px;
            background-color: #F97415;
            border: none;
            color: white;
            font-weight: 500;
            font-size: 1.1rem;
            cursor: pointer;
            margin:1rem;
        }
    }
   
}

footer{
    padding: 1rem;
    background-color: #1F2937;
    height: auto;
    section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid #9CA3AF;

    .logo{
        width: 4rem;
        height: 4rem;
        margin-bottom: 1rem;
    }

    
    p{
        width: 60%;
        color:#9CA3AF;
    }

    div{
        display: flex;
        gap: 1rem;

        img{
            width: 2rem;
            height: 2rem;
         }
      }

    }

    p{
        padding: 1rem;
        text-align: center;
        color: #9CA3AF;
    }

}