*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

header{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items:center;
    background-color: #1F2937;
    padding: 1rem;

    img{
        width: 6rem;
        height: 5rem;
        padding: 0.5rem;
    }

    button{
        width: 5rem;
        height: 2.4rem;
        background-color: #F97415;
        color:#ffffff;
        border-radius: 0.5rem;
        cursor: pointer;
        font-size: 1rem;
        font-weight: 700;
        font-style: bold;
    }
}

article{
    display: flex;
    padding: 2rem;
    img{
        width: 50%;
    }

    div{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        #nomeDoPet{
            font-size: 2.2rem;
            color:#F97415;
            font-weight: 700;
        }

        #descricaoDoPet{
            text-justify: auto;
            text-align: left;
            width: 90%;
            font-size: 1.1rem;
        }
    }
}

.pets{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;

    .perfilPet{
        width: 7.5.rem;
        height: 7.5.rem;
        border-radius: 50%;
    }

}